@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 50%;
  margin: 35px auto;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}

.hidden {
  display: none;
}