<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options Strategy</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <nav>
        <a href="/">Home</a>
        <a href="/calculator">Calculator</a>
        <a href="/strategy">Strategy</a>
    </nav>
</head>
<body>
    <h2>Options Details Table</h2>
    
    
    
    <table id="option-table">
        <thead> 
            <tr>
                <th>Buy/Sell</th>
                <th>Quantity</th>
                <th>Put/Call</th>
                <th>Underlying Price (K)</th>
                <th>Strike Price (S)</th>
                <th>Risk-free Rate (r)</th>
                <th>Time to Expiration (T)</th>
                <th>Volatility (σ)</th>
                <th>Option Premium</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
            <!-- Additional rows will be added here -->
    
        </tbody>
    </table>
    <button id="add-row-button">Add Row</button>

    <h1>Option Payoff Plot</h1>
    <svg id="chart"></svg>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/strategy.js"></script>  
</body>
</html>
